<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/e2-menu"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Evaluación de Riesgos</ion-title>
  </ion-toolbar>
  <hr class="linea">
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
    (click)="enviarForm()"
    type="submit"
    color="success"
    [disabled]="formulario.invalid">
      <ion-icon name="cloud-upload"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button
    (click)="crearPdf()"
    color="warning">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button
    (click)="descargarPdf()"
    type="submit"
    color="danger"
    [disabled]="!pdfObj">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <h3 class="ion-text-justify">Una vez identificados los riesgos, 
          el Representante Técnico determina cuáles de dichos impactos son los que representan 
          eventos o escenarios de riesgo, es decir, la carencia o pérdida de controles de ingeniería, 
          bajo el siguiente criterio de evaluación:
        </h3>
      </ion-col>
      <ion-button (click)="criterios()" expand="block" fill="clear" color="danger">
        <ion-icon slot="start" name="alert-circle-outline"></ion-icon>
        Criterio de evaluación
      </ion-button>
    </ion-row>
  </ion-grid>
  <form #formulario="ngForm" (ngSubmit)="enviarForm()">
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Actividad</ion-card-subtitle>
            <ion-card-title>Arribo de autotanque a la Estación de servicio.</ion-card-title>
            <hr class="linea1">
            <ion-card-subtitle>Peligro</ion-card-subtitle>
            <h2>
              <ul>
                <li class="ion-text-left">Maniobra dentro de la estación.</li>
                <li class="ion-text-left">Falta de conocimiento o de conciencia del personal.</li>
              </ul>
            </h2>
            <br>
            <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
            <h2>Golpe a instalaciones u otros vehículos o atropellamiento a otras personas.</h2>
            <hr class="linea1">
            <ion-item>
              <ion-label>Frecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"
              min="1" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              maxlength="1"
              name="F1"
              [(ngModel)]="datos.F1"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Consecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="1" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="C1"
              [(ngModel)]="datos.C1"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Magnitud: {{ this.datos.M1 }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Actividad</ion-card-subtitle>
            <ion-card-title>Conexión e inicio de la descarga de producto.</ion-card-title>
            <hr class="linea1">
            <ion-card-subtitle>Peligro</ion-card-subtitle>
            <h2>
              <ul>
                <li class="ion-text-left">Equipos en mal estado.</li>
                <li class="ion-text-left">Falta de conocimiento o de conciencia del personal.</li>
              </ul>
            </h2>
            <br>
            <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
            <h2>Derrame o fuga durante la conexión y/o operación de llenado de tanque de almacenamiento.</h2>
            <hr class="linea1">
            <ion-item>
              <ion-label>Frecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="1" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="F2"
              [(ngModel)]="datos.F2"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Consecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="1" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="C2"
              [(ngModel)]="datos.C2"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Magnitud: {{ this.datos.M2 }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Actividad</ion-card-subtitle>
            <ion-card-title>Descarga de producto por autotanque.</ion-card-title>
            <hr class="linea1">
            <ion-card-subtitle>Peligro</ion-card-subtitle>
            <h2>
              <ul>
                <li class="ion-text-left">Deslizamiento de autotanque, con desprendimiento de la manguera de descarga en ambos extremos.</li>
              </ul>
            </h2>
            <br>
            <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
            <h2>Derrame de producto.</h2>
            <hr class="linea1">
            <ion-item>
              <ion-label>Frecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number" 
              min="1" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="F3"
              [(ngModel)]="datos.F3"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Consecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number" 
              min="1" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="C3"
              [(ngModel)]="datos.C3"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Magnitud: {{ this.datos.M3 }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Actividad</ion-card-subtitle>
            <ion-card-title>Descarga de producto.</ion-card-title>
            <hr class="linea1">
            <ion-card-subtitle>Peligro</ion-card-subtitle>
            <h2>
              <ul>
                <li class="ion-text-left">Equipos en mal estado.</li>
                <li class="ion-text-left">Falta de conocimiento o de conciencia del personal.</li>
              </ul>
            </h2>
            <br>
            <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
            <h2>Incendio durante el llenado del tanque de almacenamiento.</h2>
            <hr class="linea1">
            <ion-item>
              <ion-label>Frecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="1" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="F4"
              [(ngModel)]="datos.F4"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Consecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="1" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="C4"
              [(ngModel)]="datos.C4"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Magnitud: {{ this.datos.M4 }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Actividad</ion-card-subtitle>
            <ion-card-title>Descarga de producto.</ion-card-title>
            <hr class="linea1">
            <ion-card-subtitle>Peligro</ion-card-subtitle>
            <h2>
              <ul>
                <li class="ion-text-left">Equipos en mal estado.</li>
                <li class="ion-text-left">Falta de conocimiento o de conciencia del personal.</li>
              </ul>
            </h2>
            <br>
            <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
            <h2>Indendio en tubos de venteo durante el llenado del tanque de almacenamiento.</h2>
            <hr class="linea1">
            <ion-item>
              <ion-label>Frecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="1" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="F5"
              [(ngModel)]="datos.F5"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Consecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="1" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="C5"
              [(ngModel)]="datos.C5"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Magnitud: {{ this.datos.M5 }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Actividad</ion-card-subtitle>
            <ion-card-title>Descarga de producto.</ion-card-title>
            <hr class="linea1">
            <ion-card-subtitle>Peligro</ion-card-subtitle>
            <h2>
              <ul>
                <li class="ion-text-left">Nivel de producto en tanques es erróneo.</li>
                <li class="ion-text-left">Conexión a tanque diferente.</li>
              </ul>
            </h2>
            <br>
            <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
            <h2>
              <ul>
                <li class="ion-text-left">Sobrellenado de tanque de almacenamiento.</li>
                <li class="ion-text-left">Derrrame de producto al realizar la desconexión.</li>
              </ul>
            </h2>
            <hr class="linea1">
            <ion-item>
              <ion-label>Frecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="1" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="F6"
              [(ngModel)]="datos.F6"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Consecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="1" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="C6"
              [(ngModel)]="datos.C6"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Magnitud: {{ this.datos.M6 }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Actividad</ion-card-subtitle>
            <ion-card-title>Término de la descarga de producto y desconexión.</ion-card-title>
            <hr class="linea1">
            <ion-card-subtitle>Peligro</ion-card-subtitle>
            <h2>
              <ul>
                <li class="ion-text-left">Equipos en mal estado.</li>
                <li class="ion-text-left">Falta de conocimiento o de conciencia del personal.</li>
              </ul>
            </h2>
            <br>
            <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
            <h2>Derrame o fuga durante la desconexión al término de la descarga.</h2>
            <hr class="linea1">
            <ion-item>
              <ion-label>Frecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="1" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="F7"
              [(ngModel)]="datos.F7"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Consecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="0" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="C7"
              [(ngModel)]="datos.C7"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Magnitud: {{ this.datos.M7 }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Actividad</ion-card-subtitle>
            <ion-card-title>Salida de autotanque a la estación de Servicio.</ion-card-title>
            <hr class="linea1">
            <ion-card-subtitle>Peligro</ion-card-subtitle>
            <h2>
              <ul>
                <li class="ion-text-left">Equipos en mal estado.</li>
                <li class="ion-text-left">Falta de conocimiento o de conciencia del personal.</li>
              </ul>
            </h2>
            <br>
            <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
            <h2>Derrame de producto o fuga durante el despacho de producto a vehículos.</h2>
            <hr class="linea1">
            <ion-item>
              <ion-label>Frecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="0" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="F8"
              [(ngModel)]="datos.F8"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Consecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="0" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="C8"
              [(ngModel)]="datos.C8"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Magnitud: {{ this.datos.M8 }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Actividad</ion-card-subtitle>
            <ion-card-title>Despacho de producto.</ion-card-title>
            <hr class="linea1">
            <ion-card-subtitle>Peligro</ion-card-subtitle>
            <h2>
              <ul>
                <li class="ion-text-left">Equipos en mal estado.</li>
                <li class="ion-text-left">Falta de conocimiento o de conciencia del personal.</li>
              </ul>
            </h2>
            <br>
            <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
            <h2>Derrame de producto o fuga durante el despacho de producto a vehículos.</h2>
            <hr class="linea1">
            <ion-item>
              <ion-label>Frecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="0" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="F9"
              [(ngModel)]="datos.F9"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Consecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="0" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="C9"
              [(ngModel)]="datos.C9"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Magnitud: {{ this.datos.M9 }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Actividad</ion-card-subtitle>
            <ion-card-title>Despacho de producto.</ion-card-title>
            <hr class="linea1">
            <ion-card-subtitle>Peligro</ion-card-subtitle>
            <h2 class="ion-text-left">
              Distracción o mala intención del conductor del vehículo.
            </h2>
            <br>
            <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
            <h2>
              Derrame por desprendimiento de manguera de despacho de combustible por desplazamiento de vehículo.
            </h2>
            <hr class="linea1">
            <ion-item>
              <ion-label>Frecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="1" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="F10"
              [(ngModel)]="datos.F10"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Consecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="1" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="C10"
              [(ngModel)]="datos.C10"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Magnitud: {{ this.datos.M10 }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Actividad</ion-card-subtitle>
            <ion-card-title>Despacho de producto.</ion-card-title>
            <hr class="linea1">
            <ion-card-subtitle>Peligro</ion-card-subtitle>
            <h2 class="ion-text-left">
              Distracción o mala intención del conductor del vehículo.
            </h2>
            <br>
            <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
            <h2>Derrame por derribo del dispensario por automóvil o camión y no opera la válvula shut-off.</h2>
            <hr class="linea1">
            <ion-item>
              <ion-label>Frecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="1" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="F11"
              [(ngModel)]="datos.F11"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Consecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="0" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="C11"
              [(ngModel)]="datos.C11"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Magnitud: {{ this.datos.M11 }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card size="12" sizeMd="12" sizeLg="6">
          <ion-card-content>
            <ion-card-subtitle>Actividad</ion-card-subtitle>
            <ion-card-title>Despacho de producto.</ion-card-title>
            <hr class="linea1">
            <ion-card-subtitle>Peligro</ion-card-subtitle>
            <h2>
              <ul>
                <li class="ion-text-left">Equipos en mal estado.</li>
                <li class="ion-text-left">Falta de conocimiento o de conciencia del personal.</li>
              </ul>
            </h2>
            <br>
            <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
            <h2>Incendio en el área de despacho, por derribo de dispensario o desprendimiento de manguera.</h2>
            <hr class="linea1">
            <ion-item>
              <ion-label>Frecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="0" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="F12"
              [(ngModel)]="datos.F12"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Consecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="0" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="C12"
              [(ngModel)]="datos.C12"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Magnitud: {{ this.datos.M12 }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Actividad</ion-card-subtitle>
            <ion-card-title>Ejecución de trabajos de mantenimiento.</ion-card-title>
            <hr class="linea1">
            <ion-card-subtitle>Peligro</ion-card-subtitle>
            <h2>
              <ul>
                <li class="ion-text-left">Equipos en mal estado.</li>
                <li class="ion-text-left">Falta de conocimiento o de conciencia del personal.</li>
              </ul>
            </h2>
            <br>
            <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
            <h2>Derrame o fuga durante la ejecución de trabajos de mantenimiento.</h2>
            <hr class="linea1">
            <ion-item>
              <ion-label>Frecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="0" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="F13"
              [(ngModel)]="datos.F13"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Consecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="0" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="C13"
              [(ngModel)]="datos.C13"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Magnitud: {{ this.datos.M13 }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card size="12" sizeMd="12" sizeLg="6">
          <ion-card-content>
            <ion-card-subtitle>Actividad</ion-card-subtitle>
            <ion-card-title>Operación normal.</ion-card-title>
            <hr class="linea1">
            <ion-card-subtitle>Peligro</ion-card-subtitle>
            <h2>
              Trampa de combustibles con hidrocarburos.
            </h2>
            <br>
            <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
            <h2>
              Incendio en trampa de Combustibles.
            </h2>
            <hr class="linea1">
            <ion-item>
              <ion-label>Frecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="1" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="F14"
              [(ngModel)]="datos.F14"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Consecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="1" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="C14"
              [(ngModel)]="datos.C14"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Magnitud: {{ this.datos.M14 }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card size="12" sizeMd="12" sizeLg="6">
          <ion-card-content>
            <ion-card-subtitle>Actividad</ion-card-subtitle>
            <ion-card-title>Operación normal.</ion-card-title>
            <hr class="linea1">
            <ion-card-subtitle>Peligro</ion-card-subtitle>
            <h2 class="ion-text-left">
              Vandalismo.
            </h2>
            <br>
            <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
            <h2 class="ion-text-left">Incendio en área de despacho.</h2>
            <hr class="linea1">
            <ion-item>
              <ion-label>Frecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="1" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="F15"
              [(ngModel)]="datos.F15"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Consecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="1" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="C15"
              [(ngModel)]="datos.C15"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Magnitud: {{ this.datos.M15 }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Actividad</ion-card-subtitle>
            <ion-card-title>Instalaciones eléctricas en operación.</ion-card-title>
            <hr class="linea1">
            <ion-card-subtitle>Peligro</ion-card-subtitle>
            <h2>
              <ul>
                <li class="ion-text-left">Equipos en mal estado.</li>
                <li class="ion-text-left">Falta de conocimiento o de conciencia del personal.</li>
              </ul>
            </h2>
            <br>
            <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
            <h2 class="ion-text-left">Incendio en instalaciones eléctricas.</h2>
            <hr class="linea1">
            <ion-item>
              <ion-label>Frecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="1" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="F16"
              [(ngModel)]="datos.F16"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Consecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="1" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="C16"
              [(ngModel)]="datos.C16"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Magnitud: {{ this.datos.M16 }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Actividad</ion-card-subtitle>
            <ion-card-title>Operación normal.</ion-card-title>
            <hr class="linea1">
            <ion-card-subtitle>Peligro</ion-card-subtitle>
            <h2 class="ion-text-left">
              Sismo de magnitud considerable.
            </h2>
            <br>
            <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
            <h2 class="ion-text-left">Contaminación de subsuelo y mantos freáticos por fuga o derrame de combustible.</h2>
            <hr class="linea1">
            <ion-item>
              <ion-label>Frecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="1" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="F17"
              [(ngModel)]="datos.F17"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Consecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="1" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="C17"
              [(ngModel)]="datos.C17"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Magnitud: {{ this.datos.M17 }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Actividad</ion-card-subtitle>
            <ion-card-title>Operación normal.</ion-card-title>
            <hr class="linea1">
            <ion-card-subtitle>Peligro</ion-card-subtitle>
            <h2 class="ion-text-left">
              Inundación.
            </h2>
            <br>
            <ion-card-subtitle>Riesgo asociado</ion-card-subtitle>
            <h2 class="ion-text-left">
              Contaminación de subsuelo y mantos freáticos por fuga o derrame de combustible.
            </h2>
            <hr class="linea1">
            <ion-item>
              <ion-label>Frecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="1" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="F18"
              [(ngModel)]="datos.F18"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Consecuencia:</ion-label>
              <ion-input 
              placeholder="Selecciona"
              type="number"  
              min="1" 
              max="4"
              pattern="^-?[1-4]*[.]?[1-4]+$"
              name="C18"
              [(ngModel)]="datos.C18"
              required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Magnitud: {{ this.datos.M18 }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
