.fontZize{
    font-size: 7px;
}

.head{
    background-color: #d79043;
    border-radius: 15px;
    text-align: center;
}

.headSize{
    font-size: 9px;
}

.true{
  background-color: chartreuse;
  border-bottom: 1px solid black;
//   border-top: 1px solid black;
//   border-right: 1px solid black;
//   border-left: 1px solid black;
}

.false{
    background-color: red;
    border-bottom: 1px solid black;
    // border-top: 1px solid black;
    // border-right: 1px solid black;
    // border-left: 1px solid black;
}