<ion-header>
  <ion-toolbar color="blue">
    <ion-buttons slot="end">
      <ion-button (click)="pdf()">
        <ion-icon slot="start" name="print"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Jefe de piso</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dissmis()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="border-radius: 15px;">
    <ion-card-header color="diana">
      <ion-card-title class="ion-text-center">Conocimientos específicos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let att of datos.conocimientosEspecificos; let idx = index">
        <ion-label >{{idx +1}}. Conocimiento</ion-label>
        <ion-input placeholder="Escribir..." [(ngModel)]="datos.conocimientosEspecificos[idx].value"></ion-input>
      </ion-item>
      <ion-button (click)="add().conocimiento()" expand="block" fill="clear" shape="round">
        Añadir
      </ion-button>
      <div>
        <ion-chip *ngFor="let att of datos.conocimientosEspecificos; let idx = index">
          <ion-icon name="pin" color="primary"></ion-icon>
          <ion-label>{{att.value}}</ion-label>
          <ion-icon name="close" (click)="delete(idx)"></ion-icon>
        </ion-chip>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card style="border-radius: 15px;">
    <ion-card-header color="diana">
      <ion-card-title class="ion-text-center">Características personales.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let att of datos.caracteristicasPersonales; let idx = index">
        <ion-label >{{idx +1}}. Carácteristicas</ion-label>
        <ion-input placeholder="Escribir..." [(ngModel)]="datos.caracteristicasPersonales[idx].value"></ion-input>
      </ion-item>
      <ion-button (click)="add().caracteristicas()" expand="block" fill="clear" shape="round">
        Añadir
      </ion-button>
      <div>
        <ion-chip *ngFor="let att of datos.caracteristicasPersonales; let idx = index">
          <ion-icon name="pin" color="primary"></ion-icon>
          <ion-label>{{att.value}}</ion-label>
          <ion-icon name="close" (click)="delete(idx)"></ion-icon>
        </ion-chip>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card style="border-radius: 15px;">
    <ion-card-header color="diana">
      <ion-card-title class="ion-text-center">Destrezas técnicas.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let att of datos.destrezasTecnicas; let idx = index">
        <ion-label >{{idx +1}}. Carácteristicas</ion-label>
        <ion-input placeholder="Escribir..." [(ngModel)]="datos.destrezasTecnicas[idx].value"></ion-input>
      </ion-item>
      <ion-button (click)="add().destrezas()" expand="block" fill="clear" shape="round">
        Añadir
      </ion-button>
      <div>
        <ion-chip *ngFor="let att of datos.destrezasTecnicas; let idx = index">
          <ion-icon name="pin" color="primary"></ion-icon>
          <ion-label>{{att.value}}</ion-label>
          <ion-icon name="close" (click)="delete(idx)"></ion-icon>
        </ion-chip>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card style="border-radius: 15px;">
    <ion-card-header color="diana">
      <ion-card-title class="ion-text-center">Características físicas.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let att of datos.caracteristicasFisicas; let idx = index">
        <ion-label >{{idx +1}}. Carácteristicas</ion-label>
        <ion-input placeholder="Escribir..." [(ngModel)]="datos.caracteristicasFisicas[idx].value"></ion-input>
      </ion-item>
      <ion-button (click)="add().caracteristicasFisicas()" expand="block" fill="clear" shape="round">
        Añadir
      </ion-button>
      <div>
        <ion-chip *ngFor="let att of datos.caracteristicasFisicas; let idx = index">
          <ion-icon name="pin" color="primary"></ion-icon>
          <ion-label>{{att.value}}</ion-label>
          <ion-icon name="close" (click)="delete(idx)"></ion-icon>
        </ion-chip>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card style="border-radius: 15px;">
    <ion-card-header color="diana">
      <ion-card-title class="ion-text-center">Personal a su cargo.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let att of datos.personalCargo; let idx = index">
        <ion-label >{{idx +1}}. Carácteristicas</ion-label>
        <ion-input placeholder="Escribir..." [(ngModel)]="datos.personalCargo[idx].value"></ion-input>
      </ion-item>
      <ion-button (click)="add().personalCargo()" expand="block" fill="clear" shape="round">
        Añadir
      </ion-button>
      <div>
        <ion-chip *ngFor="let att of datos.personalCargo; let idx = index">
          <ion-icon name="pin" color="primary"></ion-icon>
          <ion-label>{{att.value}}</ion-label>
          <ion-icon name="close" (click)="delete(idx)"></ion-icon>
        </ion-chip>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card style="border-radius: 15px;">
    <ion-card-header color="diana">
      <ion-card-title class="ion-text-center">Herramientas/Equipos.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let att of datos.herramientas; let idx = index">
        <ion-label >{{idx +1}}. Carácteristicas</ion-label>
        <ion-input placeholder="Escribir..." [(ngModel)]="datos.herramientas[idx].value"></ion-input>
      </ion-item>
      <ion-button (click)="add().herramientas()" expand="block" fill="clear" shape="round">
        Añadir
      </ion-button>
      <div>
        <ion-chip *ngFor="let att of datos.herramientas; let idx = index">
          <ion-icon name="pin" color="primary"></ion-icon>
          <ion-label>{{att.value}}</ion-label>
          <ion-icon name="close" (click)="delete(idx)"></ion-icon>
        </ion-chip>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
