<ion-header>
  <ion-toolbar color="blue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/e6-menu"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">P-SA-06 COMPETENCIA DEL PERSONAL, CAPACITACIÓN Y ENTRENAMIENTO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <embed
  src="../../../../assets/docs/e6/P-SA-06 COMPETENCIA DEL PERSONAL, CAPACITACIÓN Y ENTRENAMIENTO.pdf"
  type="application/pdf"
  width="100%"
  height="1200px" />
</ion-content>
