<ion-header class="ion-no-border">
  <ion-toolbar color="blue">
    <ion-buttons slot="end">
      <ion-button (click)="pdf()">
        <ion-icon slot="start" name="print"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/e2-menu"></ion-back-button>
    </ion-buttons>
    <h2 class="ion-text-center">Evaluación de Aspectos Ambientales</h2>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="help()" color="light">
      <ion-icon name="help-outline" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="center" horizontal="start" slot="fixed" (click)="swipeBack()">
      <ion-icon name="chevron-back-outline" class="custom-icon"></ion-icon>
  </ion-fab>
  <ion-fab vertical="center" horizontal="end" slot="fixed" (click)="swipeNext()">
      <ion-icon name="chevron-forward-outline" class="custom-icon"></ion-icon>
  </ion-fab>

  <ion-button (click)="calculo()" expand="block" fill="clear" shape="round">
    Enviar
  </ion-button>
    <form action="">
      <ion-grid fixed>
        <ion-row style="margin: auto; display: block;">
          <ion-col size="6">
            <ion-slides pager="true"  pager="true" #mySlider class="swiper-container">
              <ion-slide *ngFor="let data of aspectosAmbientales let idx=index" >
                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>Area:</ion-card-subtitle>
                    <ion-card-title>{{data.area}}</ion-card-title>
                    <ion-card-content>
                      <ion-grid fixed>
                        <ion-row class="header">
                          <ion-col size="12" sizeLg="3">Actividad, producto o servicio:</ion-col>
                          <ion-col size="12" sizeLg="3">Impacto Ambiental</ion-col>
                          <ion-col size="12" sizeLg="1.5">Frecuencia:</ion-col>
                          <ion-col size="12" sizeLg="1.5">Naturaleza:</ion-col>
                          <ion-col size="12" sizeLg="1.5">Magnitud:</ion-col>
                          <ion-col size="12" sizeLg="1.5">Total:</ion-col>
                        </ion-row>
                        <ion-row *ngFor="let datas of aspectosAmbientales[idx].array">
                          <ion-col size="12" sizeLg="3">
                            <ion-label class="label">Actividad, producto o servicio:</ion-label><br>
                            {{datas.act}}
                          </ion-col>
                          <ion-col size="12" sizeLg="3">
                            <ion-label class="label">Impacto Ambiental:</ion-label><br>
                            {{datas.imAmb}}
                          </ion-col>
                          <ion-col size="12" sizeLg="1.5">
                            <ion-item>
                              <ion-label position="floating">F:</ion-label>
                              <ion-select name="F" [(ngModel)]="datas.F">
                                <ion-select-option value="10">10</ion-select-option>
                                <ion-select-option value="7">7</ion-select-option>
                                <ion-select-option value="3">3</ion-select-option>
                                <ion-select-option value="1">1</ion-select-option>
                              </ion-select>
                            </ion-item>
                          </ion-col>
                          <ion-col size="12" sizeLg="1.5">
                            <ion-item>
                              <ion-label position="floating">N:</ion-label>
                              <ion-select name="N" [(ngModel)]="datas.N">
                                <ion-select-option value="10">10</ion-select-option>
                                <ion-select-option value="5">5</ion-select-option>
                                <ion-select-option value="3">3</ion-select-option>
                                <ion-select-option value="1">1</ion-select-option>
                              </ion-select>
                            </ion-item>
                          </ion-col>
                          <ion-col size="12" sizeLg="1.5">
                            <ion-item>
                              <ion-label position="floating">M:</ion-label>
                              <ion-select name="M" [(ngModel)]="datas.M">
                                <ion-select-option value="10">10</ion-select-option>
                                <ion-select-option value="3">3</ion-select-option>
                                <ion-select-option value="1">1</ion-select-option>
                              </ion-select>
                            </ion-item>
                          </ion-col>
                          <ion-col size="12" sizeLg="1.5">
                            <ion-label class="label">Total:</ion-label><br>
                            <p>{{datas.VT}}</p>
                          </ion-col>
                          <hr color="purple" size=2 width="150%">
                        </ion-row>
                      </ion-grid>
                    </ion-card-content>
                  </ion-card-header>
                </ion-card>
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
</ion-content>
