<ion-header class="ion-no-border">
  <ion-toolbar color="blue">
    <ion-buttons slot="end">
      <ion-button (click)="pdf()">
        <ion-icon slot="start" name="print"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/e2-menu"></ion-back-button>
    </ion-buttons>
    <h2 class="ion-text-center">Evaluación de Aspectos Ambientales</h2>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="help()" color="warning">
      <ion-icon name="help"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeMd="8" offsetMd="3">
        <ion-list *ngFor="let a of actividades">
          <ion-item [routerLink]="['/e2-menu/e2-aspectos/actividad/' + a._id]">
            <ion-label class="ion-text-wrap">
              <h2>{{ a.act }}</h2>
              <p>Frecuencia: {{ a.F }}  |  Naturaleza: {{ a.N }}  |  Magnitud: {{ a.M }}  |  Valor Total: {{ a.VT }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
