@import '~swiper/swiper-bundle';

.header{
    background-color: gray;
    border-radius: 15px;
    color: white;
}

.card {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
  }
  
.custom-icon{
    font-size: 64px;
}

.custom-icon:hover{
    color: blue;
}
.label{
    display: none;
}
@media(max-width: 900px){
    .header{
        display: none;
    }

    .label{
        display: inline;
        font-size: 15px;
        color: black;
    }
}
