<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2;"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">VIII. Control de Documentos y Registros</ion-title>
    <ion-card-subtitle class="ion-text-center">{{DataEstacion.nombre}}</ion-card-subtitle>
  </ion-toolbar>
  <hr class="linea">
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta">
          <img
          class="ion-padding image"
          src="../../../assets/Imagenes/1_procedimiento.png"
          style="width: 50%; display: block; margin: auto;"/>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Procedimiento</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta" (click)="procedimientoInstructivo()">
          <img
          class="ion-padding image"
          src="../../../assets/Imagenes/Punto 8/lista_maestra_de_docs.png"
          style="width: 50%; display: block; margin: auto;"/>
          <ion-card-header>
            <ion-card-title class="ion-text-center">FS-01 Procedimientos, Instructivos o Metodologías</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta" (click)="goLista()">
          <img
          class="ion-padding image"
          src="../../../assets/Imagenes/Punto 8/lista_maestra_de_docs.png"
          style="width: 50%; display: block; margin: auto;"/>
          <ion-card-header>
            <ion-card-title class="ion-text-center">FS-02 Lista Maestra de Documentos Internos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta">
          <img
          class="ion-padding image"
          src="../../../assets/Imagenes/Punto 8/lista_maestra_de_docs.png"
          style="width: 50%; display: block; margin: auto;"/>
          <ion-card-header>
            <ion-card-title class="ion-text-center">FS-04 Lista de Distribución de Documentos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <p>
          El siguiente formato se utilizará en caso de querer alguna modificación directa dentro del sistema.
          Si este es su caso, favor de comunicarse con el área de soporte de su proveedor Softoil.
        </p>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta" (click)="goSolicitud()">
          <img
          class="ion-padding image"
          src="../../../assets/Imagenes/Punto 8/lista_maestra_de_docs.png"
          style="width: 50%; display: block; margin: auto;"/>
          <ion-card-header>
            <ion-card-title class="ion-text-center">FS-03 Solicitud de Cambios</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
