<ion-header>
  <ion-toolbar color="blue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">VI. Competencia del personal, capacitación y entretenimiento</ion-title>
    <ion-card-subtitle class="ion-text-center">{{DataEstacion.nombre}}</ion-card-subtitle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card class="carta">
            <ion-card-header>
              <ion-card-title class="ion-text-center">Procedimiento</ion-card-title>
            <img
              class="ion-padding image"
              src="../../../assets/images/1_procedimiento.png"
              style="width: 50%; display: block; margin: auto;"
            />
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card (click)="goPuntoPerfilPuesto()" class="carta">
            <ion-card-header>
              <ion-card-title class="ion-text-center">FS-14 Perfil de puesto</ion-card-title>
            <img
              class="ion-padding image"
              src="../../../assets/images/Element-6/6_perfilpuesto-01.png"
              style="width: 50%; display: block; margin: auto;"
            />
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card class="carta" (click)="goDeteccionNecesidades()">
            <ion-card-header>
              <ion-card-title class="ion-text-center">FS-15 Detección de necesidades</ion-card-title>
            <img
              class="ion-padding image"
              src="../../../assets/images/Element-6/6_detecciondenecesidades-01.png"
              style="width: 50%; display: block; margin: auto;"
            />
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card class="carta">
            <ion-card-header (click)="programaCapacitacion()">
              <ion-card-title class="ion-text-center">FS-16 Programa de capacitación</ion-card-title>
            <img
              class="ion-padding image"
              src="../../../assets/images/Element-6/6_programacapacitacion-01.png"
              style="width: 50%; display: block; margin: auto;"
            />
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card class="carta" (click)="seguimientoProgramaCapacitacion()">
            <ion-card-header>
              <ion-card-title class="ion-text-center">FS-17 Seguimiento del programa de capacitación</ion-card-title>
            <img
              class="ion-padding image"
              src="../../../assets/images/Element-6/6_seguimientocapacitación-01.png"
              style="width: 50%; display: block; margin: auto;"
            />
            </ion-card-header>
            <ion-card-content>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card class="carta">
            <ion-card-header>
              <ion-card-title class="ion-text-center">Subir Cursos Extra</ion-card-title>
            <img
              class="ion-padding image"
              src="../../../assets/images/Element-6/curso_extra.png"
              style="width: 50%; display: block; margin: auto;"
            />
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeLg="4">
          <ion-card class="carta">
            <ion-card-header>
              <ion-card-title class="ion-text-center">Evidencia</ion-card-title>
            <img
              class="ion-padding image"
              src="../../../assets/images/1_evidencia.png"
              style="width: 50%; display: block; margin: auto;"
            />
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
