<ion-header class="ion-no-border">
  <ion-toolbar color="blue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">III. Requisitos Legales</ion-title>
    <ion-card-subtitle class="ion-text-center">{{DataEstacion.nombre}}</ion-card-subtitle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta">
          <ion-card-header>
            <ion-card-title class="ion-text-center">Procedimiento</ion-card-title>
            <img
              class="ion-padding image"
              src="../../../assets/images/1_procedimiento.png"
              style="width: 50%; display: block; margin: auto;"
            />
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta" (click)="goRequisitos()">
          <ion-card-header>
            <ion-card-title class="ion-text-center">Requisitos Legales</ion-card-title>
            <img
              class="ion-padding image"
              src="../../../assets/images/Element-3/3_requisitoslegales-01.png"
              style="width: 50%; display: block; margin: auto;"
            />
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

