.linea{
    background-color: #d79043;
    height: 5px;
  }
  
  .carta{
    background-image: url('../../../assets/images/flamas_azules_de_fondo.png');
  }
  
  ion-card:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  