<ion-header >
  <ion-toolbar color="blue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/intro"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Ubicación de Extintores, Paros de Emergencia, Botiquines
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeMd="6" offset-md="4">
        <ion-card>
          <ion-card-content>
            <form #formulario="ngForm" (ngSubmit)="postExt()">
              <ion-item>
                <ion-label position="floating">Ubicación del Extintor</ion-label>
                <ion-input name="ubicacion" [(ngModel)]="form.ubicacion"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>PQS o CO2</ion-label>
                <ion-select
                  interface="popover"
                  name="agente"
                  placeholder="Selecciona"
                  [(ngModel)]="form.agente">
                  <ion-select-option value="PQS">PQS</ion-select-option>
                  <ion-select-option value="CO2">CO2</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Ubicación del paro de Emergencia</ion-label>
                <ion-input name="nTanques" [(ngModel)]="form.paro"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Ubicación del Botiquín</ion-label>
                <ion-input name="botiquin" [(ngModel)]="form.botiquin"></ion-input>
              </ion-item>
              <ion-button type="submit" expand="block" shape="round">
                Enviar
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" sizeMd="6" offset-md="4">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>No.</th>
              <th>Extintores</th>
              <th>Agente</th>
              <th>Paros de Emergencia</th>
              <th>Botiquines</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let e of extintor; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ e.ubicacion }}</td>
              <td>{{ e.agente }}</td>
              <td>{{ e.paro }}</td>
              <td>{{ e.botiquin }}</td>
              <td>
                <ion-button (click)="delete(e._id)" fill="clear">
                  <ion-icon color="danger" slot="icon-only" name="trash-outline"></ion-icon>
                </ion-button>
              </td>
            </tr>
          </tbody>
        </table>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
