<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input type="text" id="input" id="input">
  <ion-button (click)="verify()" expand="block" fill="clear" shape="round">
      Verificar
  </ion-button>
  <!-- <ion-searchbar placeholder="Busca"  (ionChange)="onSearchChange($event)" [(ngModel)]="search"></ion-searchbar> -->
  <div id="map"> </div>
</ion-content>
