<ion-header>
  <ion-toolbar color="blue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Graficas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <div class="chart-container" style=" height:40vh; width:70vw; margin: 0 auto;">
            <canvas id="myChart" ></canvas>
        </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
  
</ion-content>