
      <ion-tabs>
        <ion-tab-bar slot="bottom,top">
          <ion-tab-button tab="tab3">
            <ion-icon name="water-outline"></ion-icon>
            <ion-label>PRODUCTO</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="tab4">
            <ion-icon name="bag-add-outline"></ion-icon>
            <ion-label>EXTINTORES</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="tab5">
            <ion-icon name="build-outline"></ion-icon>
            <ion-label>COMPONENTES</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="tab6">
            <ion-icon name="business-outline"></ion-icon>
            <ion-label>COMUNICACION</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="tab7">
            <ion-icon name="speedometer-outline"></ion-icon>
            <ion-label>SENSORES</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
