<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/e12-menu"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="pdf()">
        <ion-icon slot="start" name="print"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Anexo de Seguridad para Contratistas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="header">
      <ion-col size="12">
        <h4>OBJETIVO</h4>
      </ion-col>
    </ion-row>
    <ion-row class="stuff">
      <ion-col size="12">
        <p>
          Establecer las Reglas generales de seguridad industrial, seguridad operativa y protección del
          medio ambiente, que deben ser observadas por los contratistas, subcontratistas, proveedores y
          prestadores de servicio, que desarrollen trabajos o presten servicios, en las instalaciones de
          la con la Estación de Servicio, cuyas actividades impliquen riesgos para la población.
          Los consumidores, el personal, las instalaciones o al medio ambiente.
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="header">
      <ion-col size="12">
        <h4>ALCANCE</h4>
      </ion-col>
    </ion-row>
    <ion-row class="stuff">
      <ion-col size="12">
        <p>
          Las reglas generales de seguridad son aplicables para todos los constratistas, subcontratistas
          prestadores de servicios y proveedores, cuyas actividades dentro de la estación de servicio
          están asociadas a riesgos o aspectos ambientales significativos, entre otros:
        </p>
        <ol>
          <li>Trabajos con escaleras y plataformas en alturas mayores a 1.5 m</li>
          <li>Trabajos en áreas confinadas.</li>
          <li>Trabajos con herramienta que ganera fuente de ignición.</li>
          <li>Trabajos en instalaciones eléctricas.</li>
          <li>Trabajos en equipos y accesorios que contengan producto.</li>
          <li>Trabajos que requieren la aplicación de permiso de trabajo peligroso.</li>
        </ol>
      </ion-col>
    </ion-row>
    <ion-row class="header">
      <ion-col size="12">
        <h4>MEDIDAS PREVENTIVAS GENERALES</h4>
      </ion-col>
    </ion-row>
    <ion-row class="stuff">
      <ion-col size="12">
        <ol>
          <li>El personal de las compañías contratistas, debe portar ropa de algodón.</li>
          <li>Las compañías contratistas debe proporcionar el equipo de protección personal necesario a su personal.</li>
          <li>Está prohibido encender fuego, fumar, introducir cerillos y encendedores a la estación de servicio.</li>
          <li>Está prohibido introducir bebidas embriagantes, drogas o entrar bajo efecto de dichas sustancias.</li>
          <li>Participar en las pláticas de inducción y seguridad impartidas por la estación de servicio.</li>
          <li>Mantener el orden y la limpieza en el área de trabajo.</li>
          <li>Está restringido el uso de cámaras fotográficas y teléfonos celulares en las áreas de despacho o de almacenamiento.</li>
          <li>No se debe realizar un trabajo si no de ha generado el permiso de trabajo peligroso correspondiente.</li>
          <li>Respetar el horario de trabajo establecido por el responsable de la Estación de servicio.</li>
          <li>Están prohibidas las bromas dentro de la estación de servicio.</li>
          <li>No se deben manipular equipos o accesarios sin autorización.</li>
          <li>Los vehículos deben estacionarse en los lugares asignados por el encargado de la Estación de servicio.</li>
        </ol>
      </ion-col>
    </ion-row>
    <ion-row class="header">
      <ion-col size="12">
        <h4>EQUIPO DE PROTECCIÓN PERSONAL</h4>
      </ion-col>
    </ion-row>
    <ion-row class="stuff">
      <ion-col size="12">
        <ol>
          <li>El equipo de protección básico: casco, ropa de algodón, guantes, lentes de seguridad, calzado de seguridad.</li>
          <li>Se debe utilizar el equipo de protección personal específico debe ser el adecuado para el tipo de trabajo a ejecutar.</li>
          <li>El equipo de protección personal debe estar en buen estado y de la talla adecuada.</li>
          <li>Los cables de vida y arnés deben contar con registros revisión.</li>
        </ol>
      </ion-col>
    </ion-row>
    <ion-row class="header">
      <ion-col size="12">
        <h4>USO DE HERRAMIENTA</h4>
      </ion-col>
    </ion-row>
    <ion-row class="stuff">
      <ion-col size="12">
        <ol>
          <li>La herramienta a utilizar debe estar en buen estado, no se debe utilizar si está completa o defectuosa.</li>
          <li>La herramienta eléctrica debe aterrizarse durante su uso.</li>
          <li>La herramienta solo debe utilizarse para el fin que esta destinada, estrá prohibido darle otro uso.</li>
          <li>Las caladoras deben contar con su guarda correspondiente.</li>
          <li>Está prohibido el uso de herramienta hechiza.</li>
          <li>Las extensiones eléctricas deben ser de uso rudo, están prohibidos los empates en las extensiones eléctricas.</li>
          <li>Están prohibidos los empates en las extensiones eléctricas.</li>
        </ol>
      </ion-col>
    </ion-row>
    <ion-row class="header">
      <ion-col size="12">
        <h4>PROCEDIMIENTOS</h4>
      </ion-col>
    </ion-row>
    <ion-row class="stuff">
      <ion-col size="12">
        <ol>
          <li>Aplicar invariablemente los procedimientos de trabajos seguro aplicables a las actividades a desarrollar</li>
        </ol>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
