<ion-header class="ion-no-border">
  <ion-toolbar color="blue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-sasisopa"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">XI. Integridad Mecánica</ion-title>
    <ion-card-subtitle class="ion-text-center">{{DataEstacion.nombre}}</ion-card-subtitle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta" (click)="goProcedure()">
          <img src="../../../assets/images/1_procedimiento.png" style="width: 50%; margin: auto; display: block;">
          <ion-card-header>
            <ion-card-title>Procedimiento</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta" (click)="programaAnual()">
          <img src="../../../assets/images/Element-11/programa_anual.png" style="width: 50%; margin: auto; display: block;">
          <ion-card-header>
            <ion-card-title>FS-20 Programa anual de Mantenimiento</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta">
          <img src="../../../assets/images/Element-11/plan_de_mantenimineto.png" style="width: 50%; margin: auto; display: block;">
          <ion-card-header>
            <ion-card-title>FS-21 Plan de Mantenimiento de Equipos y Sistemas</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta" (click)="lista()">
          <img src="../../../assets/images/Element-11/lista_de_equipo.png" style="width: 50%; margin: auto; display: block;">
          <ion-card-header>
            <ion-card-title>FS-22 Lista de Equipo Crítico</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta">
          <img src="../../../assets/images/1_evidencia.png" style="width: 50%; margin: auto; display: block;">
          <ion-card-header>
            <ion-card-title>Evidencia</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button (click)="goSolicitud()" expand="block" fill="clear" shape="round">
    Solicitud informacion
  </ion-button>
  <ion-button (click)="goPlanMantenimiento()" expand="block" fill="clear" shape="round">
    Plan mantenimiento
  </ion-button>
</ion-content>
