body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.header{
    background-color:lightgrey;
}

.col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}

.col:last-child {
    border-right: solid 1px grey;
}

.row:last-child .col {
    border-bottom: solid 1px grey;
}
.row{
    border-bottom: solid 1px rgb(12, 12, 12);
}
.txt{
    display: none;
}
.rev{
    text-align: center;
}

@media(max-width: 990px){
    .header{
        display: none;
    }
    .txt{
        display: inline;
        
    }
    .rev{
        text-align: left;
    }
    // .req{
    //     background-color:lightgrey;
    // }
}