<ion-header class="ion-no-border">
  <ion-toolbar color="blue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/intro"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="diana" routerLink="update">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="6" offset-md="4">
        <ion-list>
          <ion-list-header color="diana">
            <ion-label>Registro de Personal</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Representante</ion-label>
            <ion-button (click)="goRepresentante()" fill="clear">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-label>Gerente</ion-label>
            <ion-button (click)="goGerente()" fill="clear">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-label>Máxima Autoridad</ion-label>
            <ion-button (click)="goAutoridad()" fill="clear">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    
    
    
    
    
    
    
    
    
    <ion-row>
      <ion-col size="12" sizeLg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Representante Legal</ion-card-subtitle>
            <ion-card-title color="dark">{{representante.nombre}} {{representante.apellidos}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Teléfono: {{representante.telefono}}</p>
            <p>Correo: {{representante.correo}}</p>
          </ion-card-content>
          <ion-button expand="block" color="success">
            Actualizar
          </ion-button>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeLg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Máxima Autoridad</ion-card-subtitle>
            <ion-card-title color="dark">{{autoridad.nombre}} {{autoridad.apellidos}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Teléfono: {{autoridad.telefono}}</p>
            <p>Correo: {{autoridad.correo}}</p>
          </ion-card-content>
          <ion-button expand="block" color="success">
            Actualizar
          </ion-button>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeLg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Gerente de la Estación</ion-card-subtitle>
            <ion-card-title color="dark">{{gerente.nombre}} {{gerente.apellidos}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Teléfono: {{gerente.telefono}}</p>
            <p>Correo: {{gerente.correo}}</p>
          </ion-card-content>
          <ion-button expand="block" color="success">
            Actualizar
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <hr>
    
    <ion-row>
      <ion-col size="12" sizeLg="4" *ngFor="let p of personal">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{ p.puesto }}</ion-card-subtitle>
            <ion-card-title>{{ p.nombre }} {{ p.apellido }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ p.telefono }}</p>
            <p>{{ p.correo }}</p>
          </ion-card-content>
          <ion-row>
            <ion-col size="6">
              <ion-button expand="block" color="success" [routerLink]="['/tabs/tab2', 'update', p._id]">
                Actualizar
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" color="danger" (click)="deletePersonal(p._id)">
                Eliminar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
