ion-card:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  
//   .carta{
//     background-image: url('../../../assets/FondosEstilos/Dots2_100.png');
//   }

//   .lineaN{
//     background-color: #CC6B3A ;
//     height: 5px; 
//   }