<ion-header class="ion-no-border">
  <ion-toolbar color="blue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/intro"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{estacion.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row style="display: block; margin: auto;">
      <ion-col size="12" sizeLg="3">
        <ion-card>
          <ion-card-content>
            <p><b>Telefono:</b> {{estacion.telefono}}</p>
            <p><b>Calle/Numero:</b>  {{estacion.calleNumero}}</p>
            <p><b>Asentamiento:</b> {{cp.asentamiento}}</p>
            <p><b>Ciudad:</b>  {{cp.ciudad}}</p>
            <p><b>Estado:</b>  {{cp.estado}}</p>
            <p><b>Municipio:</b>  {{cp.municipio}}</p>
            <p><b>Cp:</b>  {{cp.cp}}</p>
            <ion-item-divider color="diana" style="border-radius: 15px;">
              <ion-label>Gerente de la estación</ion-label>
            </ion-item-divider>
            <p><b>Nombre:</b>  {{gerente.nombre}} {{gerente.apellidos}}</p>
            <p><b>Correo:</b> {{gerente.correo}}</p>
            <p><b>Telefono:</b>  {{gerente.telefono}}</p>
            <ion-item-divider color="diana" style="border-radius: 15px;">
              <ion-label>Maxima Autoridad </ion-label>
            </ion-item-divider>
            <p><b>Nombre:</b>  {{autoridad.nombre}} {{autoridad.apellidos}}</p>
            <p><b>Correo:</b> {{autoridad.correo}}</p>
            <p><b>Telefono:</b>  {{autoridad.telefono}}</p>
            <ion-item-divider color="diana" style="border-radius: 15px;">
              <ion-label>Representante Tecnico</ion-label>
            </ion-item-divider>
            <p><b>Nombre:</b>  {{representante.nombre}} {{representante.apellidos}}</p>
            <p><b>Correo:</b> {{representante.correo}}</p>
            <p><b>Telefono:</b>  {{representante.telefono}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeLg="4">
        <ion-card (click)="abrirCalendario()">
          <ion-card-header>
            <ion-card-title class="ion-text-center">Calendario</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="calendar-outline" size="large" style="margin: auto; display: block;"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeLg="4">
        <ion-card (click)="grafica()">
          <ion-card-header>
            <ion-card-title class="ion-text-center">Graficas</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="stats-chart-outline" size="large" style="margin: auto; display: block;"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button (click)="goSasisopa()" expand="block" fill="clear" shape="round">
    Sasisopa
  </ion-button>
</ion-content>