<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="abrirCalendario()" color="primary">
        <ion-icon slot="start" name="calendar"></ion-icon>
        Calendario
      </ion-button>
      <ion-button (click)="mapa()" color="primary">
        <ion-icon slot="start" name="map-outline"></ion-icon>
        Mapa
      </ion-button>
    </ion-buttons>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-grid fixed>
  <ion-row>
    <ion-col size="12" sizeLg="3">
      <ion-card (click)="autoridad()">
        <ion-card-header>
          <ion-card-subtitle>Catálogos</ion-card-subtitle>
          <ion-card-title>Autoridad Maxima</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeLg="3">
      <ion-card (click)="gerente()">
        <ion-card-header>
          <ion-card-subtitle>Catálogos</ion-card-subtitle>
          <ion-card-title>Gerente de la Estación</ion-card-title>
        </ion-card-header>
        <ion-card-content>

        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeLg="3">
      <ion-card (click)="representante()">
        <ion-card-header>
          <ion-card-subtitle>Catálogos</ion-card-subtitle>
          <ion-card-title>Representante Tecnico</ion-card-title>
        </ion-card-header>
        <ion-card-content>

        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeLg="3">
      <ion-card (click)="estacion()">
        <ion-card-header>
          <ion-card-subtitle>Catálogos</ion-card-subtitle>
          <ion-card-title>Estación de servicio</ion-card-title>
        </ion-card-header>
        <ion-card-content>

        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

  <ion-button (click)="cerrarSesion()" expand="full">
    Cerrar sesión
  </ion-button>

</ion-content>
