
// @media(max-width: 990px){
// .titulo{
//     font-size: 10px;
// }
// }



.header {
    background-color: #d79043; 
    color: white;
    border-radius: 15px;
    text-align: center;
}

.check{
    margin: auto;
    display: block;
}