<ion-header>
  <ion-toolbar color="blue">
    <ion-buttons slot="end">
      <ion-button (click)="pdf()">
        <ion-icon slot="end" name="print"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/e6-menu"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">PROGRAMA DE CAPACITACIÓN</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addLetter()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-grid fixed>
      <ion-row style="margin: auto; display: block;">
        <ion-col size="6" sizeLg="6">
          <ion-card *ngFor="let att of trainingLetter; let idx = index">
            <ion-card-header>
              <ion-card-title class="ion-text-center">{{idx}}.Registro</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-grid fixed>
                <ion-row>
                  <ion-col size="12" sizeLg="6">
                    <ion-item>
                      <ion-label position="floating">Nombre del curso:</ion-label>
                      <ion-input [(ngModel)]="trainingLetter[idx].nombreCurso"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label position="floating">Instructor del curso:</ion-label>
                      <ion-input [(ngModel)]="trainingLetter[idx].nombreInstructor" ></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label>Fecha</ion-label>
                      <ion-input type="date" [(ngModel)]="trainingLetter[idx].fecha"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label position="floating">Costo</ion-label>
                      <ion-input type="number" [(ngModel)]="trainingLetter[idx].costo"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label position="floating">Duración(Horas):</ion-label>
                      <ion-input [(ngModel)]="trainingLetter[idx].duracion"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label>Modalidad</ion-label>
                      <ion-select [(ngModel)]="trainingLetter[idx].modalidad" placeholder="Selecciona">
                        <ion-select-option>Interna</ion-select-option>
                        <ion-select-option>Externa</ion-select-option>
                      </ion-select>
                    </ion-item>
                    <ion-item>
                      <ion-label position="floating">Objetivo</ion-label>
                      <ion-input [(ngModel)]="trainingLetter[idx].objetivo"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="12" sizeLg="6">
                    <ion-item>
                      <ion-label position="floating">Contenido</ion-label>
                      <ion-input [(ngModel)]="trainingLetter[idx].contenido"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label position="floating">Metodologia</ion-label>
                      <ion-input [(ngModel)]="trainingLetter[idx].metodologia"></ion-input>
                    </ion-item>
                    <br>
                    <ion-item-divider color="diana">
                      <ion-label>Personal</ion-label>
                    </ion-item-divider>
                    <div *ngFor="let data of trainingLetter[idx].personal ; let k = index">
                      <ion-item position="floating">
                        <ion-label>Puesto:{{k}}</ion-label>
                        <ion-input [(ngModel)]="trainingLetter[idx].personal[k].puesto"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label>Personal:</ion-label>
                        <ion-input [(ngModel)]="trainingLetter[idx].personal[k].personal"></ion-input>
                      </ion-item>
                    </div>
                    <ion-toolbar>
                      <ion-item slot="end">
                        <ion-icon (click)="addPersonal(idx)" slot="end" name="add"></ion-icon>
                        <ion-label>Añadir</ion-label>
                      </ion-item>
                    </ion-toolbar>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button (click)="send()" expand="block" fill="clear" shape="round">
      Enviar
    </ion-button>




<!-- 
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" sizeLg="6" style="margin: auto; display: block;">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Capacitaciones Registros</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label position="floating">Nombre del curso:</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Instructor:</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Objetivo:</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Contenido:</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Duración(Horas):</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Modalidad:</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Metodología:</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Costo:</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Fecha:</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Personal:</ion-label>
                <ion-input></ion-input>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="Add()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" sizeLg="6" style="display: block; margin: auto;">
          <ion-card>
            <ion-card-content>
              <ion-item-divider color="light">
                <ion-label class="ion-text-center">PROGRAMA DE CAPACITACIÓN </ion-label>
              </ion-item-divider>
              <div *ngFor="let att of anArray; let idx = index">
                <ion-card-title class="ion-text-center">{{idx+1}} Registro del curso</ion-card-title>
                <ion-item>
                  <ion-label color="primary">Nombre del Curso:</ion-label>
                  <ion-input type="text"  text-right  [(ngModel)]="anArray[idx].nombreCurso"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label color="primary">Objetivo:</ion-label>
                  <ion-input type="text"  text-right  [(ngModel)]="anArray[idx].objetivo"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label color="primary">Contenido:</ion-label>
                  <ion-input type="text"  text-right  [(ngModel)]="anArray[idx].contenido"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label color="primary">Duración(horas):</ion-label>
                  <ion-input type="number"  text-right  [(ngModel)]="anArray[idx].duracion"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label color="primary">Modalidad(Interna/Externa):</ion-label>
                  <ion-input type="text"  text-right  [(ngModel)]="anArray[idx].modalidad"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label color="primary">Metodología(Curso,Taller,etc.):</ion-label>
                  <ion-input type="text"  text-right  [(ngModel)]="anArray[idx].metodologia"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label color="primary">Costo(Pesos.):</ion-label>
                  <ion-input type="number"  text-right  [(ngModel)]="anArray[idx].costo"></ion-input>
                </ion-item>
              </div>
            </ion-card-content>
          </ion-card>
          <ion-item-divider color="diana" style="border-radius: 15px;">
            <ion-label>Cronograma</ion-label>
          </ion-item-divider>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Cronograma de capacitación</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid fixed>
          <ion-row  class="header">
            <ion-col size="12" sizeLg="3">Nombre del curso</ion-col>
            <ion-col size="12" sizeLg="3">Instructor</ion-col>
            <ion-col size="12" sizeLg="0.5">Ene</ion-col>
            <ion-col size="12" sizeLg="0.5">Feb</ion-col>
            <ion-col size="12" sizeLg="0.5">Mar</ion-col>
            <ion-col size="12" sizeLg="0.5">Abr</ion-col>
            <ion-col size="12" sizeLg="0.5">May</ion-col>
            <ion-col size="12" sizeLg="0.5">Jun</ion-col>
            <ion-col size="12" sizeLg="0.5">Jul</ion-col>
            <ion-col size="12" sizeLg="0.5">Ago</ion-col>
            <ion-col size="12" sizeLg="0.5">Sep</ion-col>
            <ion-col size="12" sizeLg="0.5">Oct</ion-col>
            <ion-col size="12" sizeLg="0.5">Nov</ion-col>
            <ion-col size="12" sizeLg="0.5">Dic</ion-col>
          </ion-row>
          <ion-row *ngFor="let att of croArray; let idx = index">
            <ion-col size="12" sizeLg="3">
              <ion-input type="text" placeholder="Escribir.." [(ngModel)]="croArray[idx].nombreCurso" ></ion-input>
            </ion-col>
            <ion-col size="12" sizeLg="3">
              <ion-input type="text" placeholder="Escribir.." [(ngModel)]="croArray[idx].instructor"></ion-input>
            </ion-col>
            <ion-col size="12" sizeLg="0.5">
              <ion-checkbox class="check" color="success" [(ngModel)]="croArray[idx].ene"></ion-checkbox>
            </ion-col>
            <ion-col size="12" sizeLg="0.5">
              <ion-checkbox class="check" color="success" [(ngModel)]="croArray[idx].feb"></ion-checkbox>
            </ion-col>
            <ion-col size="12" sizeLg="0.5">
              <ion-checkbox class="check" color="success" [(ngModel)]="croArray[idx].mar"></ion-checkbox>
            </ion-col>
            <ion-col size="12" sizeLg="0.5">
              <ion-checkbox class="check" color="success" [(ngModel)]="croArray[idx].abr"></ion-checkbox>
            </ion-col>
            <ion-col size="12" sizeLg="0.5">
              <ion-checkbox class="check" color="success" [(ngModel)]="croArray[idx].may"></ion-checkbox>
            </ion-col>
            <ion-col size="12" sizeLg="0.5">
              <ion-checkbox class="check" color="success" [(ngModel)]="croArray[idx].jun"></ion-checkbox>
            </ion-col>
            <ion-col size="12" sizeLg="0.5">
              <ion-checkbox class="check" color="success" [(ngModel)]="croArray[idx].jul"></ion-checkbox>
            </ion-col>
            <ion-col size="12" sizeLg="0.5">
              <ion-checkbox class="check" color="success" [(ngModel)]="croArray[idx].ago"></ion-checkbox>
            </ion-col>
            <ion-col size="12" sizeLg="0.5">
              <ion-checkbox class="check" color="success" [(ngModel)]="croArray[idx].sep"></ion-checkbox>
            </ion-col>
            <ion-col size="12" sizeLg="0.5">
              <ion-checkbox class="check" color="success" [(ngModel)]="croArray[idx].oct"></ion-checkbox>
            </ion-col>
            <ion-col size="12" sizeLg="0.5">
              <ion-checkbox class="check" color="success" [(ngModel)]="croArray[idx].nov"></ion-checkbox>
            </ion-col>
            <ion-col size="12" sizeLg="0.5">
              <ion-checkbox class="check" color="success" [(ngModel)]="croArray[idx].dic"></ion-checkbox>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-button (click)="addCro()" expand="block" fill="clear" shape="round">
      Agregar
    </ion-button>
    <ion-button (click)="goTo()" expand="block" fill="clear" shape="round">
      Verificar
    </ion-button> -->
  </ion-content>
