<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Estaciones Registradas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeLg="3" *ngFor="let data of supEstacion">
        <ion-card>
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button (click)="delete(data.id)">
                <ion-icon color="danger" slot="end" name="trash-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
          <ion-card-header>
            <ion-card-title>{{data.nombre}}</ion-card-title>
            <ion-card-subtitle>
              Dirección:
              {{data.calleNumero}}
              {{data.cp.asentamiento}}
              {{data.cp.ciudad}}
              {{data.cp.cp}}
              {{data.cp.estado}}
            </ion-card-subtitle>
            <ion-card-subtitle>Telefono: {{data.telefono}}</ion-card-subtitle>
            <ion-card-subtitle>Gerente: {{data.idGerente.nombre}} {{data.idGerente.apellidos}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card>
    <ion-card-content>
      <!-- <img src="https://www.flaticon.es/premium-icon/icons/svg/1610/1610428.svg" alt=""> -->
      <!-- <img src="http://localhost:3000/logos/27b87f7a-7c5b-4978-9074-035af1f07887.png" alt=""> -->
    </ion-card-content>
  </ion-card>
</ion-content>
