ion-content {
    --padding-top: 10%;
    --padding-start: 10%;
    --padding-end: 10%;
    --background: url('https://www.africa-newsroom.com//files/large/f3c7306a7d62306') 0 0/100% 100% no-repeat;
    // --background-image:('../../../assets/images/terminalHd.jfif');
}
.input-group {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}
.logo {
    background: none;
}
.errors {
    font-size: small;
    color: #fff;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.cabeza{
    font-size: 30px;
}
