<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Calendario de actividades</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openCalModal()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab  slot="fixed" vertical="start" horizontal="end">
    <ion-fab-button color="warning">
      <ion-icon name="help-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" (click)="alertFederal()">
        <img src="../../assets/icon/mexico.png" style="width: 20px; height: auto;">
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <ion-fab-button color="light" (click)="alertMunicipal()">
        <img src="../../assets/icon/municipalidad.png" style="width: 20px; height: auto;">
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button color="light" (click)="alertEstatal()">
        <ion-icon name="shield-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeLg="6" style="margin: auto; display: block;">
        <ion-card>
          <ion-card-content>
            <img src="../../assets/icon/mexico.png" style="width: 20%; height: auto; margin: auto; display: block;">
            <ion-button (click)="federal()" expand="block" shape="round">
              FEDERAL
            </ion-button>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-icon slot="start" name="shield" class="icono"></ion-icon>
            <ion-button (click)="estatal()" expand="block" shape="round">
              ESTATAL
            </ion-button>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <img src="../../assets/icon/municipalidad.png" style="width: 20%; height: auto; margin: auto; display: block;">
            <ion-button (click)="municipal()" expand="block" shape="round">
              MUNICIPAL
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-segment [(ngModel)]="calendar.mode">
    <ion-segment-button value="month">
      <ion-label>Mes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="week">
      <ion-label>Semana</ion-label>
    </ion-segment-button>
    <ion-segment-button value="day">
      <ion-label>Día</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <ion-row>
    <ion-col size="12" size-md="6" size-lg="6">
      <ion-button (click)="crearEventosAleatorios()" expand="block" fill="outline">
        Agregar Eventos
      </ion-button>
    </ion-col>
    <ion-col size="12" size-md="6" size-lg="6">
      <ion-button (click)="removerEventos()" expand="block" fill="outline">
        Remover todos los eventos
      </ion-button>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col size="2">
      <ion-button (click)="back()" fill="clear">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="8" class="ion-text-center">
      <h2>{{ viewTitle }}</h2>
    </ion-col>
    <ion-col size="2">
      <ion-button (click)="next()" fill="clear">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <calendar
  [eventSource]="eventSource"
  [calendarMode]="calendar.mode"
  [currentDate]="calendar.currentDate"
  (onTitleChanged)="onViewTitleChanged($event)"
  >
  </calendar> -->
</ion-content>
