<ion-header >
  <ion-toolbar color="blue"> 
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">I.Política</ion-title>
    <ion-card-subtitle class="ion-text-center">{{DataEstacion.nombre}}</ion-card-subtitle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta" (click)="goProcedure()">
          <img
              class="ion-padding image"
              src="../../../assets/images/1_procedimiento.png"
              style="width: 50%; display: block; margin: auto;"
            />
          <ion-card-header>
            <ion-card-title class="ion-text-center">Procedimiento</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card (click)="goPolitica()" class="carta">
          <img
              class="ion-padding image"
              src="../../../assets/images/Element-1/1_politica.png"
              style="width: 50%; display: block; margin: auto;"
            />
          <ion-card-header>
            <ion-card-title class="ion-text-center">Política</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta">
          <img
              class="ion-padding image"
              src="../../../assets/images/1_evidencia.png"
              style="width: 50%; display: block; margin: auto;"
            />
          <ion-card-header>
            <ion-card-title class="ion-text-center">Evidencia</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
