<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Criterios de Aceptación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" style="margin: auto; display: block;">
        <ion-card mode="ios">
          <ion-grid fixed>
            <ion-row class="row header">
              <ion-col class="ion-text-center" class="col" size="12">
              <ion-card-subtitle class="ion-text-center">Probabilidad de ocurrencia (frecuencia)</ion-card-subtitle>
              </ion-col>
            </ion-row>
            <ion-row class="row" *ngFor="let data of frecuencia">
              <ion-col class="col" size="1.5">{{data.valor}}</ion-col>
              <ion-col class="col" size="2.5">{{data.nivel}}</ion-col>
              <ion-col class="col" size="5" style="text-align: justify;">{{data.descripcion}}</ion-col>
              <ion-col class="col" size="3" style="text-align: justify;">{{data.frecuencia}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

        <ion-card>
          <ion-grid fixed>
            <ion-row class="row header">
              <ion-col class="ion-text-center" class="col" size="12">
              <ion-card-subtitle class="ion-text-center">Severidad de consecuencia (gravedad)</ion-card-subtitle>
              </ion-col>
            </ion-row>
            <ion-row class="row header">
              <ion-col size="4" class="col">
                <ion-card-subtitle class="ion-text-center">Rango</ion-card-subtitle>
              </ion-col>
              <ion-col size="8" class="col">
                <ion-card-subtitle class="ion-text-center">Criterio cuantitativo</ion-card-subtitle>
              </ion-col>
            </ion-row>
            <ion-row class="row" *ngFor="let data of consecuencia; let idx=index">
              <ion-col class="col" size="1">{{data.valor}}</ion-col>
              <ion-col class="col" size="3">{{data.rango}}</ion-col>
              <ion-col class="col" size="8">
                <ion-list>
                  <li style="text-align: justify;" *ngFor="let datas of consecuencia[idx].criterio">- {{datas}}</li><br>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

        <ion-card>
          <ion-grid fixed>
            <ion-row class="row header">
              <ion-col size="2" class="col">
                <ion-card-subtitle class="ion-text-center">Nivel</ion-card-subtitle>
              </ion-col>
              <ion-col size="4" class="col">
                <ion-card-subtitle class="ion-text-center">Categoría</ion-card-subtitle>
              </ion-col>
              <ion-col size="6" class="col">
                <ion-card-subtitle class="ion-text-center">Descripción</ion-card-subtitle>
              </ion-col>
            </ion-row>
            <ion-row class="row" *ngFor="let data of categorias; let idx=index">
              <ion-col class="col" size="2">{{data.nivel}}</ion-col>
              <ion-col class="col" size="4">{{data.cat}}</ion-col>
              <ion-col class="col" size="6">
                <ion-list>
                  <li style="text-align: justify;" *ngFor="let datas of categorias[idx].desc">- {{datas}}</li><br>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
        
        <ion-card>
          <ion-grid fixed>
            <ion-row class="row header">
              <ion-col size="3" class="col">
                <ion-card-subtitle class="ion-text-center">Probabilidad de ocurrencia</ion-card-subtitle>
              </ion-col>
              <ion-col size="9" class="col">
                <ion-card-subtitle class="ion-text-center">Criterio cuantitativo</ion-card-subtitle>
                <ion-row>
                  <ion-col size="3" style="text-align: center;" *ngFor="let data of jerarquizacion; let idx=index">{{idx+1}}</ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row class="row" *ngFor="let data of jerarquizacion; let idx=index">
              <ion-col class="col" size="3">{{data.probabilidad}}</ion-col>
              <ion-col class="col" *ngFor="let datas of jerarquizacion[idx].severidad" size="2.25">
                {{datas}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
