<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs2"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">XIII. Preparación y respuesta a emergencias</ion-title>
    <ion-card-subtitle class="ion-text-center">{{ DataEstacion.nombre }}</ion-card-subtitle>
  </ion-toolbar>
  <hr class="linea">
</ion-header>

<ion-content>
  
  <ion-grid fixed>
    <p style="text-align: justify; margin:3%;">
      Identificar las situaciones potenciales de emergencia que puedan presentarse en la Estación de
      Servicio por derrame, fuga, incendio o explosión, por el manejo de productos inflamables y
      combustibles, daño ambiental, sismos o vandalismo que puedan ocurrir durante la operación
      normal o en la ejecución de trabajos de mantenimiento, con la finalidad de definir las acciones
      a aplicar para dar respuesta a situaciones reales de emergencia.
    </p>
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta" (click)="goProcedure()">
          <img height="100px" class="ion-padding" src="../../../assets/images/1_procedimiento.png" style="width: 50%; height: auto; margin: auto; display: block;"/>
          <ion-card-header>
            <ion-card-title class="ion-text-center" >Procedimiento</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta" (click)="goActa()">
          <img height="100px" class="ion-padding" src="../../../assets/images/Element-13/13_evaluacionsimulacros-01-01.png" style="width: 50%; height: auto; margin: auto; display: block;"/>
          <ion-card-header>
            <ion-card-title class="ion-text-center">FS-25 Acta de Conformación de las brigadas de respuesta a emergencias</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta" (click)="goPrograma()">
          <img height="100px" class="ion-padding" src="../../../assets/images/Element-13/13_programaanualdesimulacros-01.png" style="width: 50%; height: auto; margin: auto; display: block;"/>
          <ion-card-header>
            <ion-card-title class="ion-text-center">FS-26 Programa anual de Simulacros 2020</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta">
          <img height="100px" class="ion-padding" src="../../../assets/images/1_evidencia.png" style="width: 50%; height: auto; margin: auto; display: block;"/>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Evidencia</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
