<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs2"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">X. Control de actividades y procesos</ion-title>
    <ion-card-subtitle class="ion-text-center">{{DataEstacion.nombre}}</ion-card-subtitle>
  </ion-toolbar>
  <hr class="linea">
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta">
          <img src="../../../assets/Imagenes/1_procedimiento.png" style="width: 50%; margin: auto; display: block;">
          <ion-card-header>
            <ion-card-title>Procedimiento</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta" (click)="pdfPCP01()">
          <img src="../../../assets/Imagenes/Elemento 10/cambio_de_personal.png" style="width: 50%; margin: auto; display: block;">
          <ion-card-header>
            <ion-card-title>P-CP-01 Administración de cambio de Personal</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta" (click)="pdfPCT01()">
          <img src="../../../assets/Imagenes/Elemento 10/administracion de cambios de tecnologia.png" style="width: 50%; margin: auto; display: block;">
          <ion-card-header>
            <ion-card-title>P-CT-01 Administración de cambio de Tecnología</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta">
          <img src="../../../assets/Imagenes/Elemento 10/proced_operacion.png" style="width: 50%; margin: auto; display: block;">
          <ion-card-header>
            <ion-card-title>Procedimientos de Operación</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta">
          <img src="../../../assets/Imagenes/Elemento 10/trabajo_seguro.png" style="width: 50%; margin: auto; display: block;">
          <ion-card-header>
            <ion-card-title>Procedimientos de Trabajo Seguro</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
