<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">V.Funciones, Responsabilidades y Autoridad</ion-title>
    <ion-card-subtitle class="ion-text-center">{{DataEstacion.nombre}}</ion-card-subtitle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card (click)="goPuntoCincoProcedimiento()" class="carta">
          <!-- <img  class="ion-padding" src="../../../assets/Imagenes/1_procedimiento.png" style="width: 40%; margin: auto; display: block;" /> -->
          <ion-card-header>
            <ion-card-title class="ion-text-center">Procedimiento</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card (click)="goPuntoCinco()" class="carta">
          <!-- <img  class="ion-padding" src="../../../assets/Imagenes/Elemento 5/5_cartadedesignacion-01.png" style="width: 40%; margin: auto; display: block;" /> -->
          <ion-card-header>
            <ion-card-title class="ion-text-center">Carta de Designación del Representante Técnico</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card (click)="goPuntoMatriz()" class="carta">
          <!-- <img class="ion-padding" src="../../../assets/Imagenes/Elemento 5/5_cartadedesignacion-01.png" style="width: 40%; margin: auto; display: block;" /> -->
          <ion-card-header>
            <ion-card-title class="ion-text-center">FS-13 Matriz de Responsabilidades</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

