<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarSesion()">
        <ion-icon slot="start" name="power-outline"></ion-icon>
        Cerrar sesión
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="estacion()">
        <ion-icon slot="end" name="add"></ion-icon>
        Agregar
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="entrar()">
        <ion-icon slot="end" name="enter-outline"></ion-icon>
        Entrar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row >
      <ion-col size="12" sizeLg="4" style="margin: auto; display: block;">
        <ion-card color="warning" style="border-radius: 15px; ">
          <ion-card-header>
            <ion-card-title class="ion-text-center">Registro de Personal</ion-card-title>
            <ion-button (click)="goRepresentante()" expand="block"  shape="round">
              representante
            </ion-button>
            <ion-button (click)="goGerente()" expand="block"  shape="round">
              gerente
            </ion-button>
            <ion-button (click)="goAutoridad()" expand="block"  shape="round">
              Maxima Autoridad
            </ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" sizeLg="4" style="margin: auto; display: block;">
        <ion-card color="sucess" style="border-radius: 15px; ">
          <ion-card-header>
            <ion-card-title class="ion-text-center">MAPA</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img 
            style="width: 90%; height: auto;"
            src="../../../assets/icon/mexico.png" 
            alt="">
            <ion-card-subtitle class="ion-text-center">Mapa Estaciones de Servicio</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h1 class="ion-text-center">Estaciones de Servicio Registradas</h1>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeLg="3" *ngFor="let data of supEstacion">
        <ion-card>
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button (click)="delete(data._id)">
                <ion-icon color="danger" slot="end" name="trash-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
          <ion-card-header>
            <ion-card-title>{{data.nombre}}</ion-card-title>
            <ion-card-subtitle>
              Dirección:
              {{data.calleNumero}}
              {{data.cp.asentamiento}}
              {{data.cp.ciudad}}
              {{data.cp.cp}}
              {{data.cp.estado}}
            </ion-card-subtitle>
            <ion-card-subtitle>Telefono: {{data.telefono}}</ion-card-subtitle>
            <ion-card-subtitle>Gerente: {{data.idGerente.nombre}} {{data.idGerente.apellidos}}</ion-card-subtitle>
          </ion-card-header>
          <!-- <img src="../../../assets/images/Softoil_logo.png"> -->
          <img src="http://localhost:3000/logo/{{data.filename}}"  alt="No hay Logo" >
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
