<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/e12-menu"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="pdf()">
        <ion-icon slot="start" name="print"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Anexo de Seguridad para Contratistas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="6" offset-md="3">
        <ion-card >
          <ion-card-header>
            <ion-card-title>Carta Responsiva</ion-card-title>
          </ion-card-header>
          <hr class="linea">
          <ion-card-content>
            <p>
              La Estación de Servicio Grupo Viferca S.A. de C.V. reconoce la importancia del control de los 
              aspectos ambientales y de los riesgos que están asociados a las actividades propias de la 
              instalación, con motivo de las actividades rutinarias y no rutinarias, inclusive aquellas que 
              desarrollen los contratistas, subcontratistas, proveedores y prestadores de servicios que 
              impliquen riesgos para la población, el consumidor o las instalaciones, o impactos al ambiente, 
              por lo cual se obliga  a emitir y a vigilar  las medidas de control en materia de seguridad 
              industrial, seguridad operativa y protección  del medio ambiente, que deben observar los terceros, 
              así como vigilar  su cumplimiento.<br><br>
              En razón de lo anterior asume la responsabilidad de la administración de los riesgos e impactos 
              al ambiente que se originen con motivo de las actividades realizadas por los contratistas, 
              prestadores de servicio y proveedores, que se ejecuten dentro de nuestras instalaciones.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
