<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs2"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">XV. Auditorías</ion-title>
    <ion-card-subtitle class="ion-text-center">{{DataEstacion.nombre}}</ion-card-subtitle>
  </ion-toolbar>
  <hr class="linea">
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta">
          <img src="../../../assets/Imagenes/1_procedimiento.png" style="width: 50%; margin: auto; display: block;"/>
          <ion-card-header>
            <ion-card-title>Procedimiento</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta">
          <img src="../../../assets/Imagenes/Elemento 15/programa_de_auditoria.png" style="width: 50%; margin: auto; display: block;"/>
          <ion-card-header>
            <ion-card-title>FS-33 Programa de Auditoría (Jun-Dic)</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta">
          <img src="../../../assets/Imagenes/Elemento 15/programa_de_auditoria.png" style="width: 50%; margin: auto; display: block;"/>
          <ion-card-header>
            <ion-card-title>FS-34 Plan de Auditoría Interna</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta">
          <img src="../../../assets/Imagenes/Elemento 15/15_informe_de_auditoria.png" style="width: 50%; margin: auto; display: block;"/>
          <ion-card-header>
            <ion-card-title>FS-35 Informe de Auditoría</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta">
          <img src="../../../assets/Imagenes/Elemento 15/plan_de_hallazgos.png" style="width: 50%; margin: auto; display: block;"/>
          <ion-card-header>
            <ion-card-title>FS-36 Plan de Atención de Hallazgos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="4">
        <ion-card class="carta">
          <img src="../../../assets/Imagenes/1_evidencia.png" style="width: 50%; margin: auto; display: block;"/>
          <ion-card-header>
            <ion-card-title>Evidencia</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
