.header{
    background-color: #d79043;
    color: white;
    border-radius: 15px;
}
.subheader{
    border-radius: 15px;
    background-color: rgb(0, 131, 192);
    color: white;
}
.desc{
    display: none;
}
@media(max-width: 990px){
    .header{
        display: none;
    }
    .desc{
        display: inline;
    }
}