<ion-header>
  <ion-toolbar color="blue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/e6-menu"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="pdf()">
        <ion-icon slot="start" name="print"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Detección de Necesidades de Capacitación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="center" horizontal="start" slot="fixed" (click)="swipeBack()">
      <ion-icon name="chevron-back-outline" class="custom-icon"></ion-icon>
  </ion-fab>
  <ion-fab vertical="center" horizontal="end" slot="fixed" (click)="swipeNext()">
      <ion-icon name="chevron-forward-outline" class="custom-icon"></ion-icon>
  </ion-fab>
  <ion-grid fixed>
    <ion-row  style="margin: auto; display: block;">
      <ion-col size="12" sizeLg="8">
        <ion-slides mode="ios" pager="ios" scrollbar="ios" #mySlider>
          <ion-slide *ngFor="let data of form; let idx = index">
            <ion-card>
              <ion-card-header>
                <ion-card-title>{{data.name}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-item *ngFor="let dts of data.developer; let i = index">
                  <ion-label>{{dts.val}}</ion-label>
                  <ion-checkbox slot="start"></ion-checkbox>
                </ion-item>
                <ion-item-divider>
                  <ion-label>SITUACIÓN ACTUAL</ion-label>
                </ion-item-divider>
                <ion-item>
                  <ion-textarea placeholder="Escribe..."></ion-textarea>
                </ion-item>
                <ion-item-divider>
                  <ion-label>SITUACIÓN DESEADA</ion-label>
                </ion-item-divider>
                <ion-item>
                  <ion-textarea placeholder="Escribe..."></ion-textarea>
                </ion-item>
                <ion-item-divider>
                  <ion-label>Objetivos de la necesidad:</ion-label>
                </ion-item-divider>
                <ion-item *ngFor="let data of anArray; let idx = index">
                  <ion-label position="floating">{{idx + 1}}.Objetivo</ion-label>
                  <ion-input  [(ngModel)]="_dataBase.ObjetiveNeed[idx]"></ion-input>
                </ion-item>
                <ion-toolbar>
                  <ion-buttons slot="end"> 
                    <ion-button (click)="add(data.name)">
                      <!-- <label for="">{{data.name}}</label> -->
                      <ion-icon slot="end" name="add"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-toolbar>
                <ion-item-divider>
                  <ion-label>TEMAS PARA CAPACITACIÓN</ion-label>
                </ion-item-divider>
                <ion-item *ngFor="let datas of anCapacitation; let j = index">
                  <ion-label> {{j+1}}.Tema </ion-label>
                  <ion-input [(ngModel)]="_dataBase.TopicsTraining[j]"></ion-input>
                </ion-item>
                <ion-toolbar>
                  <ion-buttons slot="end">
                    <ion-button (click)="addCapacitation()">
                      <ion-icon slot="end" name="add"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button (click)="watch()" expand="block" fill="clear" shape="round">
    Ver
  </ion-button>
</ion-content>
