<ion-header>
  <ion-toolbar color="blue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/e6-menu"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="pdf()">
        <ion-icon slot="start" name="print"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Detección de Necesidades de Capacitación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeLg="6" style="display: block; margin: auto;">
        <ion-card>
          <ion-card-content>
            <ion-item *ngFor="let data of dataStatic let idx=index;">
              <ion-label>{{data.name}}</ion-label>
              <ion-select placeholder="Selecciona" 
              [(ngModel)]="dataDB.select">
                <ion-select-option 
                *ngFor="let dts of data.developer"
                >{{dts}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item-divider color="light">
              <ion-label>SITUACIÓN ACTUAL</ion-label>
            </ion-item-divider>
            <ion-textarea 
            placeholder="Escribe..."
            name="currentSituation"
            [(ngModel)]="dataDB.currentSituation"
            ></ion-textarea>
            <ion-item-divider color="light">
              <ion-label>SITUACIÓN DESEADA</ion-label>
            </ion-item-divider>
            <ion-textarea
            name="desiredSituation"
            [(ngModel)]="dataDB.desiredSituation"
            placeholder="Escribe..."></ion-textarea>
            <ion-item-divider color="light">
              <ion-label>Objetivos de la necesidad:</ion-label>
            </ion-item-divider>
            <ion-item *ngFor="let datas of dataDB.objetives; let j = index">
              <ion-label position="floating">{{j+1}}.Objetivo</ion-label>
              <ion-input [(ngModel)]="dataDB.objetives[j].value"></ion-input>
            </ion-item>
            <ion-toolbar>
              <ion-buttons slot="end"> 
                <ion-button (click)="add()">
                  <ion-icon slot="end" name="add"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
            <ion-item-divider color="light">
              <ion-label>TEMAS PARA CAPACITACIÓN</ion-label>
            </ion-item-divider>
            <ion-item *ngFor="let datas of dataDB.topicsTraining; let k=index">
              <ion-label position="floating" > {{k + 1}}.Tema </ion-label>
              <ion-input [(ngModel)]="dataDB.topicsTraining[k].value"></ion-input>
            </ion-item>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button (click)="addTraining()">
                  <ion-icon slot="end" name="add"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button (click)="watch()" expand="block" fill="clear" shape="round">
    Ver
  </ion-button>
</ion-content>
